<div class="sidebar">
    <div class="title">
        Дневник тренировок
    </div>
    <div class=side-menu>
        <div class="menu-link">
            <a>Блог</a>
        </div>
        <div class="menu-link">
            <a>Упражнения</a>
        </div>
        <div class="menu-link">
            <a>Все тренировки</a>
        </div>
        <div class="menu-link">
            <a>Мои тренировки</a>
        </div>
        <div class="menu-link">
            <a>Статистика</a>
        </div>
        <div class="menu-link">
            <a>Замеры</a>
        </div>
        <div class="menu-link">
            <a>Подсчет каллорий</a>
        </div>
    </div>
</div>