.trainingPrograms {

}

.title {
    font-size: 35px;
    margin-bottom: 50px;
}

.programs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
